/* Header */
.fi-topbar {
    background: linear-gradient(to right, #d1e3ff, #88a8ff);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.377);
}


/* NavBar */
.fi-sidebar-nav {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.377);
    background-color: #d1e3ff81;

}

.fi-ta-ctn.fi-ta-ctn-with-footer.fi-ta-ctn-with-header {
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.377);
}